HTTP_HOST=${SIGNALING_HTTP_HOST}
HTTP_PORT=${SIGNALING_HTTP_PORT}
WS_PATH=${SIGNALING_WS_PATH}
WS_PING_INTERVAL=${SIGNALING_WS_PING_INTERVAL}
WS_PONG_WAIT=${SIGNALING_WS_PONG_WAIT}
WS_MAX_MESSAGE_BYTES=${SIGNALING_WS_MAX_MESSAGE_BYTES}
WS_MAX_MESSAGES_PER_SEC=${SIGNALING_WS_MAX_MESSAGES_PER_SEC}
WS_ALLOWED_ORIGINS=${SIGNALING_WS_ALLOWED_ORIGINS}
WS_ALLOW_QUERY_TOKEN=${SIGNALING_WS_ALLOW_QUERY_TOKEN}

APP_ENV=${SIGNALING_APP_ENV}

METRICS_HOST=${SIGNALING_METRICS_HOST}
METRICS_PORT=${SIGNALING_METRICS_PORT}

LOGGER_LEVEL=${SIGNALING_LOGGER_LEVEL}
LOGGER_AS_JSON=${SIGNALING_LOGGER_AS_JSON}

REDIS_HOST=${SIGNALING_REDIS_HOST}
REDIS_PORT=${SIGNALING_REDIS_PORT}
REDIS_PASSWORD=${SIGNALING_REDIS_PASSWORD}
REDIS_CONNECTION_TIMEOUT=${SIGNALING_REDIS_CONNECTION_TIMEOUT}
REDIS_MAX_IDLE=${SIGNALING_REDIS_MAX_IDLE}
REDIS_IDLE_TIMEOUT=${SIGNALING_REDIS_IDLE_TIMEOUT}
PRESENCE_TTL=${SIGNALING_PRESENCE_TTL}

JOIN_TOKEN_SECRET_KEY=${SIGNALING_JOIN_TOKEN_SECRET_KEY}
SERVICE_JWT_SECRET=${SIGNALING_SERVICE_JWT_SECRET}
SERVICE_NAME=${SIGNALING_SERVICE_NAME}

ROOM_GRPC_ADDR=${SIGNALING_ROOM_GRPC_ADDR}
ROOM_GRPC_ENABLED=${SIGNALING_ROOM_GRPC_ENABLED}

KAFKA_BROKERS=${SIGNALING_KAFKA_BROKERS}
KAFKA_ROOM_EVENTS_TOPIC=${SIGNALING_KAFKA_ROOM_EVENTS_TOPIC}
KAFKA_PARTICIPANT_EVENTS_TOPIC=${SIGNALING_KAFKA_PARTICIPANT_EVENTS_TOPIC}
KAFKA_CONSUMER_GROUP=${SIGNALING_KAFKA_CONSUMER_GROUP}
KAFKA_CONSUMER_ENABLED=${SIGNALING_KAFKA_CONSUMER_ENABLED}

INSTANCE_ID=${SIGNALING_INSTANCE_ID}

SFU_ENABLED=${SIGNALING_SFU_ENABLED}
SFU_PUBLIC_URL=${SIGNALING_SFU_PUBLIC_URL}
